body{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    text-align: center;
    background-color: lightgreen;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
}
.letter:active,
.letter:link,
.letter:visited,
.letter:hover {
    text-decoration: none;
}
h1{
    font-size: 3em;
}
.letters, .word{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.word, .clues{
    font-size: 2em;
    font-weight: 700;
}
.word p{
    margin-right: 10px;
}
.letter, .letterselection, .letterselection:hover{
    display: inline-block;
    text-align: center;
    font-size: 2em;
    width: 50px;
    height: 50px;
    background-color: white;
    color: green;
    border: 1px solid green;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 3px;
    cursor: pointer;
}
.letter:hover{
    background-color: green;
    color: white;
    border-color: white;
}
.letterselection, .letterselection:hover{
    cursor: none;
    opacity: 0.5;
}
.game, .user{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.user{
    background-color: rgba(0,0,0,0.50);
    position: absolute;
    top: 0px;
    bottom: 0px;
}
.game{
    visibility: hidden;
}
.loaduser{
    background-color: darkgreen;
    width: 250px;
    height: auto;
    position: relative;
    top:  200px;
}
.btn-login, .btn-newgame, .btn-check{
    display: inline-block;
    width: 75px;
    height: 30px;
    color: white;
    background-color: black;
    align-content: center;
    padding-top: 7px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 5px;
}
